[submodule "pipeline.javascriptbuilder/src/main/resources/fiftyone/pipeline/javascriptbuilder/javascript-templates"]
	path = pipeline.javascriptbuilder/src/main/resources/fiftyone/pipeline/javascriptbuilder/javascript-templates
	url = https://github.com/51Degrees/javascript-templates.git
