[submodule "pipeline.javascriptbuilder/src/main/resources/fiftyone/pipeline/javascriptbuilder/templates"]
	path = pipeline.javascriptbuilder/src/main/resources/fiftyone/pipeline/javascriptbuilder/templates
	url = ../javascript-templates.git
[submodule "owid-java"]
	path = owid-java
	url = https://github.com/SWAN-community/owid-java.git
	branch = harden/parse-without-throwing
